RESEND_API_KEY=
AUTH_URL=
NEXT_PUBLIC_FRONTEND=http://localhost:4000/
NEXT_PUBLIC_VERSION=2.03
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_OPENBREIN=false

AUTH_SECRET=
AUTH_API_URL=http://localhost:3000/api
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000/api

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=

NEXT_PUBLIC_PRIVACY_VERSION=v0.1
